<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/4a9c518b56.js"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Korean skincare tracker</title>
  </head>
  <body class="indexBackground">
    <header>
      <div class="logo-container">
        <a href="/" class="logo"
          ><img
            class="img-1"
            src="css/assets/KoreanSkincaregrprt-logo.png"
            alt="green_leaves_logo"
        /></a>
      </div>
    </header>

    <main>
      <section class="hero"></section>

      <section class="loginContainer">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %>
        <form action="/login" method="POST" class="form-1">
          <h1>
            <span class="log-in">Log in</span> or
            <span class="sign-up">sign up</span>
          </h1>
          <p class="field">
            <label for="username" class="label-1"> </label>
            <i class="fa-solid fa-user"></i>
            <input type="email" name="email" placeholder="Email" />
          </p>
          <p class="field">
            <label for="password" class="label-2"></label>
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" placeholder="Password" />
          </p>
          <p class="submit">
            <button type="submit">Login</button>
            <button type="">
              <a href="/signup">Sign Up</a>
            </button>
          </p>
        </form>
      </section>
    </main>

    <section class="container">
      <section class="aboutContainer">
        <p>
          <strong>Korean skincare has become a global sensation,</strong> if you
          are one of the millions that love having dewy glowing skin, and want to keep
          track of your products fret no more! With this regimen tracker you will be
          able to keep track of your KSP (Korean skincare products) so you never
          miss a step. With the Korean Skincare tracker you can create a list of
          the products in the order that it is layered and check it off the list
          and move on to the next one, click reset when you start again the next
          morning, it's that simple! Never miss a step again.
        </p>
      </section>
      <section class="exampleContainer">
        <h1>Example List</h1>
        <ul>
          <li>
            <p>oil cleaning</p>
            <button><i class="fa-sharp fa-solid fa-check"></i></button>
          </li>
          <li>
            <p>foam cleaning</p>
            <button><i class="fa-sharp fa-solid fa-check"></i></button>
          </li>
          <li>
            <p>toner</p>
            <button></button>
          </li>
          <li>
            <p>essense</p>
            <button></button>
          </li>
        </ul>
      </section>
    </section>

    <footer>
      <i class="fa-regular fa-copyright"></i>
      <span>Group project 100Devs 2022</span>
    </footer>
  </body>
</html>